.win-modal {
  align-self: center;
  background-color: var(--border-color);
  border: 2px solid var(--theme-color);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--card-color);
  display: flex;
  font-size: 24px;
  height: 250px;
  justify-content: center;
  max-width: 100%;
  min-height: 50%;
  min-width: 50%;
  position: absolute;
  text-align: center;
  width: 350px;
}

.win-modal > .contents {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 22%;
  justify-content: center;
  padding: 10px;
  position: relative;
}

.win-message {
  color: var(--theme-color);
  display: flex;
  font-family: 'pokemon_gbregular', 'Courier New', Courier, monospace;
  font-size: 24px;
}

#new-game-button {
  background-color: transparent;
  border: 2px solid var(--theme-color);
  border-radius: 5px;
  box-sizing: border-box;
  color: var(--theme-color);
  cursor: pointer;
  font-family: 'pokemon_gbregular', 'Courier New', Courier, monospace;
  letter-spacing: 3px;
  padding: 16px 12px;
  text-transform: uppercase;
  white-space: nowrap;
}

#new-game-element {
  border: 1px solid darkred;
  height: 20px;
  left: 10px;
  top: 10px;
}
