.win-message {
  background-color: var(--card-color);
  color: var(--theme-color);
  height: 200px;
  line-height: 150px;
  margin-left: -150px;
  margin-top: -75px;
  width: 300px;
}

#new-game-button {
  background-color: var(--theme-color);
  color: var(--text-color);
  cursor: pointer;
  height: 50px;
  line-height: 50px;
  margin-left: -60px;
  margin-top: 50px;
  width: 120px;
}

#new-game-element {
  border: 1px solid darkred;
  height: 20px;
  left: 10px;
  top: 10px;
}

.win-message,
#new-game-button {
  border: 2px solid var(--text-color);
  border-radius: 5px;
  left: 50%;
  top: 50%;
}

.win-message,
#new-game-button,
#new-game-element {
  font-family: 'pokemon_gbregular', 'Courier New', Courier, monospace;
  position: absolute;
}
