#game-board {
  aspect-ratio: 1;
  box-sizing: border-box;
  display: grid;
  gap: 12px;
  grid-auto-flow: row;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  justify-items: center;
  max-height: calc(100vmin - var(--padding) - var(--padding));
  max-width: calc(100vmin - var(--padding) - var(--padding));
  position: relative;
}

.card {
  aspect-ratio: 1;
  background-color: var(--theme-color);
  background-size: contain;
  border: 2px solid var(--border-color);
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  max-height: calc(100vmin - var(--padding) - var(--padding));
  position: relative;
}

@media screen and (max-width: 500px) {
  #game-board {
    gap: 6px;
  }
  .card {
    border-width: 1px;
  }
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  bottom: 0;
  left: 0;
  margin: 10px;
  position: absolute;
  right: 0;
  top: 0;
}

.face-down {
  background-color: var(--card-color);
  cursor: pointer;
}

.face-down .background-image,
.hidden .background-image {
  visibility: hidden;
}

.author-credit {
  color: var(--text-color);
  font-family: 'pokemon_gbregular', 'Courier New', Courier, monospace;
  font-size: 9px;
}

.title {
  color: var(--title-color);
  font-family: 'pocket_monkregular', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  text-align: center;
}
