html,
body,
.theme {
  box-sizing: border-box;
  display: grid;
  height: 100vh;
  margin: 0;
  min-height: var(--min-page-width);
  min-width: var(--min-page-width);
  padding: 0;
  position: relative;
}

html {
  overflow: hidden;
  overscroll-behavior: none;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}
